<launch>
  <!-- Arguments -->
  <arg name="rtabmap_viz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="with_camera" default="true"/>
  <arg name="localization" default="false"/>
  <arg name="database_path" default="~/.ros/rtabmap.db"/>
  <arg     if="$(arg localization)" name="rtabmap_args" default=""/>
  <arg unless="$(arg localization)" name="rtabmap_args" default="-d"/>

  <!-- RGB-D Odometry -->
  <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" clear_params="true" output="screen" args="" launch-prefix="">
    <remap from="rgb/image"         to="/camera/color/image_raw"/>
    <remap from="depth/image"       to="/camera/depth/image_rect_raw"/>
    <remap from="rgb/camera_info"   to="/camera/color/camera_info"/>
    <remap from="rgbd_image"      to="rgbd_image"/>
    <remap from="odom"            to="odom"/>

    <param name="frame_id"                    type="string" value="camera_link"/>
    <param name="odom_frame_id"               type="string" value=""/>
    <param name="publish_tf"                  type="bool"   value="true"/>
    <param name="ground_truth_frame_id"       type="string" value=""/>
    <param name="ground_truth_base_frame_id"  type="string" value=""/>
    <param name="wait_for_transform_duration" type="double" value="0.2"/>

    <param name="approx_sync"                 type="bool"   value="false"/>
    <param name="approx_sync_max_interval"    type="double" value="0"/>
    <param name="config_path"                 type="string" value=""/>
    <param name="topic_queue_size"            type="int"    value="1"/>
    <param name="sync_queue_size"             type="int"    value="10"/>
    <param name="subscribe_rgbd"              type="bool"   value="false"/>
    <param name="guess_frame_id"              type="string" value=""/>
    <param name="guess_min_translation"       type="double" value="0"/>
    <param name="guess_min_rotation"          type="double" value="0"/>
    <param name="expected_update_rate"        type="double" value="0"/>
    <param name="max_update_rate"             type="double" value="0"/>
    <param name="keep_color"                  type="bool"   value="false"/>
  </node>


  <group ns="rtabmap">
    <node pkg="rtabmap_sync" type="rgbd_sync" name="rgbd_sync" output="screen">
      <remap from="rgb/image"         to="/camera/color/image_raw"/>
      <remap from="depth/image"       to="/camera/depth/image_rect_raw"/>
      <remap from="rgb/camera_info"   to="/camera/color/camera_info"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
      <param name="database_path"       type="string" value="$(arg database_path)"/>
      <param name="frame_id"            type="string" value="base_footprint"/>
      <param name="subscribe_rgb"   type="bool" value="false"/>
      <param name="subscribe_depth" type="bool" value="false"/>
      <param name="approx_sync"         type="bool"   value="true"/>
      <param name="Kp/DetectorStrategy" value="2"/>

      <remap from="odom"            to="/odom"/>
      <remap from="rgbd_image"       to="rgbd_image"/>

      <!-- output -->
      <remap from="grid_map" to="/map"/>

      <!-- RTAB-Map's parameters -->
      <param name="Mem/UseOdomFeatures" value="false"/> <!-- Không sử dụng các tính năng odometry -->
      <param name="RGBD/ProximityOdomGuess" value="false"/> <!-- Không sử dụng odometry như một gợi ý gần đúng -->
      <param name="RGBD/LocalizationSmoothing" value="false"/> <!-- Không cần làm mượt với odometry -->
      <param name="RGBD/ForceOdom3DoF" value="true"/> <!-- Buộc sử dụng visual odometry với 3 DoF -->

      <param name="Reg/Strategy"                 type="string" value="1"/>
      <param name="GridGlobal/MinSize"           type="string" value="20"/>
    </node>

    <!-- visualization with rtabmap_viz -->
    <node if="$(arg rtabmap_viz)" pkg="rtabmap_viz" type="rtabmap_viz" name="rtabmap_viz" args="-d $(find rtabmap_demos)/launch/config/rgbd_gui.ini" output="screen">
      <param name="subscribe_scan"   type="bool"   value="false"/>
      <param name="subscribe_odom"   type="bool"   value="false"/>
      <param name="frame_id"         type="string" value="base_footprint"/>
      <param name="approx_sync"      type="bool"   value="true"/>
    </node>
  </group>
</launch>
